{%extends 'base.html'%}
{%block content %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for obj in posts.all %}
            <th scope="row">####</th>
            <td> 
                <a href="{%url 'detail' obj.pk%}">{{obj.title}}</a>         
            </td>
            <td>
                <p>{{obj.author}}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    

    {%endblock content%}
